
<header>

    <div class="landing-view">

      <div class="logo">
        <img src="/images/logo.png" alt="">
      </div>
      <div class="search-bar">
        <form action="/results" method="get" >
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <input type="text" name="search" value="" placeholder="Search deals by keyword ( e.g. free, iPhone7 )">
          <button>Search</button>
        </form>
      </div>

    </div>

    <div class="benefits_holder">
      <div class="benefits">

        <div class="benefit_container">
          <div class="benefit_logo">
            <img src="/images/benefit_logo1.png" alt="">
          </div>

          <div class="benefit" id="benefit1">
            <p>Best deals guaranteed, backed by the thrifty</p>
          </div>
        </div>

        <div class="benefit_container">
          <div class="benefit_logo">
            <img src="/images/benefit_logo2.png" id="benefit_logo2" alt="">
          </div>
          <div class="benefit" id="benefit2">
            <p>Filter by frees, popularity and category</p>
          </div>
        </div>

        <div class="benefit_container">
          <div class="benefit_logo">
            <img src="/images/benefit_logo3.png" alt="">
          </div>
          <div class="benefit" id="benefit3">
            <p>Never, ever, pay retail price again</p>
          </div>
        </div>

      </div>
    </div>

</header>

<!-- <section class="filter-bar">

  <h1>Filter By</h1>

</section> -->

<section class="bargain-section">

  <div class="container">

    <div class="bargains">

      <h2 id="home-text">Recent Deals</h2>

      <% @bargains.take(8).each do |bargain| %>
        <div class="bargain">

          <a href="<%= bargain.bargain_url %>">

            <div class="bargain-image_holder">
              <img src="<%= bargain.image_url %>" alt="">
            </div>

            <div class="bargain_content">
              <h2><%= bargain.title %></h2>
              <p><%= bargain.description %></p>
            </div>

          </a>

        </div>
      <% end %>

    </div>

  </div>

</section>
