<div class="results-page-logo">
  <a href="/">
    <img src="/images/favicon copy.png" alt="">
  </a>
</div>

<div class="results-search-bar">
  <form action="/results" method="get" >
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <input type="text" name="search" placeholder="Search other deals" value="<%= params[:search] %>">
    <button>Search</button>
  </form>
</div>

<!-- <h1>Search results</h1> -->
<h2> <%= @search %> </h2>

<div class="container">
  <div class="bargains">

    <% @bargain_results.each do |bargain| %>
      <div class="bargain">

        <a href="<%= bargain.bargain_url %>">

          <div class="bargain-image_holder">
            <img src="<%= bargain.image_url %>" alt="">
          </div>

          <div class="bargain_content">
            <h2><%= bargain.title %></h2>
            <p><%= bargain.description %></p>
          </div>

        </a>

      </div>
    <% end %>

  </div>
</div>
